<!-- Performance optimizations -->
<link rel="preload" href="../css/styles.css" as="style">
<link rel="preload" href="../css/tool-enhancements.css" as="style">
<link rel="preload" href="../js/main.js" as="script">
<link rel="preload" href="../images/picspanda-logo.svg" as="image">

<!-- Browser hints -->
<link rel="dns-prefetch" href="https://fonts.googleapis.com">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Main CSS with performance attributes -->
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/tool-enhancements.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" media="print" onload="this.media='all'">
